<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="description" content="WebGL online Nastran FEM .bdf/.dat files online viewer">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
	<link rel="apple-touch-icon" href="/static/img/favicon/android-chrome-192x192.png">
	<link rel="manifest" href="/static/img/favicon/manifest.json">
	<link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#222732">
	<meta name="theme-color" content="#222732">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="#222732">
	<meta name="apple-mobile-web-app-title" content="Fem4Web">
	<!-- Favicon -->

	{% assets "css_all" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}

	<title>Fem4Web</title>
</head>

<body>
	<noscript>
		<div style="border: 1px solid purple; padding: 10px">
			<span style="color:red">JavaScript is not enabled!</span>
		</div>
	</noscript>

	<!-- Loader -->
	<div id="loader"
		style="width: 100%;height: 100%;align-items: center;position: fixed;display: flex;background: #222732;z-index: 100;">
		<svg viewBox="0 0 400 346.41">
			<path d="M100 0 l-50 86.6025 h100 Z" fill="#c61d1d" />
			<path d="M100 0 h100 l-50 86.6025 Z" fill="#c61d1d" />
			<path d="M200 0 l-50 86.6025 h100 Z" fill="#c61d1d" />
			<path d="M200 0 h100 l-50 86.6025 Z" fill="#c61d1d" />
			<path d="M300 0 l-50 86.6025 h100 Z" fill="#1d3272" />
			<path d="M50 86.6025 l-50 86.6025 h100 Z" fill="#c61d1d" />
			<path d="M50 86.6025 h100 l-50 86.6025 Z" fill="#c61d1d" />
			<path d="M150 86.6025 l-50 86.6025 h100 Z" fill="#c61d1d" />
			<path d="M150 86.6025 h100 l-50 86.6025 Z" fill="#c61d1d" />
			<path d="M250 86.6025 l-50 86.6025 h100 Z" fill="#1d3272" />
			<path d="M250 86.6025 h100 l-50 86.6025 Z" fill="#1d3272" />
			<path d="M350 86.6025 l-50 86.6025 h100 Z" fill="#1d3272" />
			<path d="M0 173.205 h100 l-50 86.6025 Z" fill="#4c9a2a" />
			<path d="M100 173.205 l-50 86.6025 h100 Z" fill="#4c9a2a" />
			<path d="M100 173.205 h100 l-50 86.6025 Z" fill="#4c9a2a" />
			<path d="M200 173.205 l-50 86.6025 h100 Z" fill="#4c9a2a" />
			<path d="M200 173.205 h100 l-50 86.6025 Z" fill="#1d3272" />
			<path d="M300 173.205 l-50 86.6025 h100 Z" fill="#1d3272" />
			<path d="M300 173.205 h100 l-50 86.6025 Z" fill="#1d3272" />
			<path d="M50 259.8075 h100 l-50 86.6025 Z" fill="#4c9a2a" />
			<path d="M150 259.8075 l-50 86.6025 h100 Z" fill="#4c9a2a" />
			<path d="M150 259.8075 h100 l-50 86.6025 Z" fill="#4c9a2a" />
			<path d="M250 259.8075 l-50 86.6025 h100 Z" fill="#4c9a2a" />
			<path d="M250 259.8075 h100 l-50 86.6025 Z" fill="#1d3272" />
		</svg>
	</div>
	<!-- Loader -->

	<!-- Ribbon Control -->
	<header id="ribbon"></header>
	<!-- Ribbon Control -->

	<main>
		<!-- Canvases -->
		<div id="canvasWrap">
			<canvas id="glCanvas3D"></canvas>
			<canvas id="textCanvas"></canvas>
			<canvas id="selectCanvas"></canvas>
		</div>
		<!-- Canvases -->

		<!-- Treeview Control -->
		<nav id="treeView" class="resizable"></nav>
		<!-- Treeview Control -->

		<!-- Sidebar Control -->
		<aside id="sideBar" style="display:none;"></aside>
		<!-- Sidebar Control -->

		<!-- Fringe Control -->
		<div id="fringeWrap" style="display:none;"></div>
		<!-- Fringe Control -->

		<!-- Context Menu -->
		<nav id="contextMenu" style="display:none;"></nav>
		<!-- Context Menu -->
	</main>

	<!--Pop-up Modals-->
	<div id="popModals"></div>
	<!--Pop-up Modals-->

	<!--FPS-->
	<div id="FPS"></div>
	<!--FPS-->

	<!--All Images-->
	<div id="allSvgImages"></div>
	<!--All Images-->
</body>

{% assets "js_all" %}
<script type="application/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</html>