#sideBar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	min-width: 300px;
	max-width: 600px;
	padding: 25px 5px 5px 5px;

	background-color: var(--treeBkgrndColor);

	border: 1px solid var(--treeBkgrndColor);
	box-shadow: 0 0 2px var(--blueColor);
	-moz-box-shadow: 0 0 2px var(--blueColor);
	-webkit-box-shadow: 0 0 2px var(--blueColor);

	color: var(--grayColor);
	transition: width 0.5s;
	transition: height 0.5s;
}

#sideBar:hover {
	background-color: var(--modalBkgrndColor);
}

#sideBar [disabled] {
	cursor: not-allowed;
}

#sideBarContent {
	display: flex;
	flex-flow: wrap;
}

#sideBarBtnContent {
	padding: 5px 1px 0px 0px;
	display: flex;
	flex-flow: wrap;
}

.sideBarRow {
	flex: 1 1 100%;
	display: flex;
	align-items: center;
}

#sideBar .sideBarRow:focus-within {
	box-shadow: -3px 0px 0px var(--greenColor);
	-moz-box-shadow: -3px 0px 0px var(--greenColor);
	-webkit-box-shadow: -3px 0px 0px var(--greenColor);
}

.sideBarCol {
	flex: 1;
	text-align: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sideBarCol1 {
	flex: 1;
	flex-basis: 100px;
	padding: 0px 2px 0px 5px;
	text-align: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}

.sideBarCol2 {
	flex: 100;
	padding: 0px 2px 0px 5px;
	text-align: left;
}

.sideBarC1 {
	padding: 0px 5px 0px 5px;
	text-align: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sideBarSelect {
	background-color: transparent;

	width: 100%;
	box-sizing: border-box;
	padding: 3px;
	border: 1px solid var(--darkGrayColor);
	margin: 3px 0px 3px 0px;

	color: var(--grayColor);
}

select.sideBarSelect {
	cursor: pointer;
}

.sideBarSelect:hover {
	box-shadow: 0 0 2px var(--lightOrangeColor);
	-moz-box-shadow: 0 0 2px var(--lightOrangeColor);
	-webkit-box-shadow: 0 0 2px var(--lightOrangeColor);
}

.sideBarSelect:focus {
	outline: none;
	background-color: var(--grayColor);
	color: var(--modalBkgrndColor);

	box-shadow: 0 0 2px var(--blueColor);
	-moz-box-shadow: 0 0 2px var(--blueColor);
	-webkit-box-shadow: 0 0 2px var(--blueColor);
}

.sideBarCheckContainer,
.sideBarRadioContainer {
	flex: 1;
	display: flex;
	align-items: center;
	position: relative;
	padding: 5px 0px 5px 5px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sideBarCheckContainer input,
.sideBarRadioContainer input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.sideBarCheck {
	position: relative;
	display: inline-flex;
	height: 12px;
	width: 12px;
	border: 1px solid var(--darkGrayColor);
	margin-left: 5px;
}

.sideBarCheckContainer:hover input[disabled]~.sideBarCheck {
	box-shadow: 0 0 0;
}

.sideBarCheckContainer:hover input~.sideBarCheck {
	box-shadow: 0 0 2px var(--lightOrangeColor);
	-moz-box-shadow: 0 0 2px var(--lightOrangeColor);
	-webkit-box-shadow: 0 0 2px var(--lightOrangeColor);
}

.sideBarCheckContainer input:checked~.sideBarCheck {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12px;
	background-image: url('../img/gui/checked.svg');
}

.sideBarRadio {
	position: relative;
	display: inline-flex;
	margin-right: 5px;
	left: 0;
	top: 0px;
	height: 14px;
	width: 14px;
	background-color: var(--darkGrayColor);
	border-radius: 50%;
}

.sideBarRadio:after {
	content: "";
	position: absolute;
	display: none;
}

.sideBarRadioContainer:hover input~.sideBarRadio {
	box-shadow: 0 0 3px var(--lightOrangeColor);
	-moz-box-shadow: 0 0 3px var(--lightOrangeColor);
	-webkit-box-shadow: 0 0 3px var(--lightOrangeColor);
}

.sideBarRadioContainer input:checked~.sideBarRadio {
	background-color: var(--lightBlueColor);
}

.sideBarRadioContainer input:checked~.sideBarRadio:after {
	display: block;
}

.sideBarRadioContainer .sideBarRadio:after {
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: var(--grayColor);
}

.sideBarButton {
	flex: 1;
	padding: 3px;
	background-color: var(--darkBlueColor);
	border: 1px solid var(--darkGrayColor);
	cursor: pointer;
	color: var(--grayColor);
	margin: -1px -1px 0px 0px;
}

.sideBarButton:hover {
	background-color: var(--lightOrangeColor);
	color: var(--modalBkgrndColor);
}